body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    form{
        border: 1px solid #000;
        border-radius: 5px;
        padding: 1rem;
    }
}
.homeLinks{
    text-decoration: none;
}
.homeLinks:hover{
    text-decoration: underline;
}
header h1, header p{
    text-align: center;
}
